:root {
  color-scheme: light dark;
  background-color: hsla(var(--c-bg));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
