// Font imported in HtmlBase.astro
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: hsla(var(--c-txt));
}

.sect-title {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.ta-c {
  text-align: center !important;
}

.prose {
  h1,
  h2,
  h3 {
    margin-bottom: 3rem;
    text-transform: uppercase;
  }
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 4rem;
  }
  &:not(.detail) {
    line-height: 1.4;
  }

  p {
    line-height: 1.75em;
  }
  p:not(:last-child) {
    margin-bottom: 0.8em;
  }

  ul,
  ol {
    padding-inline-start: 1.5em;
    line-height: 1.4;
    display: grid;
    gap: 0.75em;
  }

  li {
    position: relative;
    list-style: none;
    &::before {
      top: 0.5em;
      left: -1em;
      content: '';
      position: absolute;
      width: 0.3em;
      height: 0.3em;
      background-color: rgb(var(--c-accent));
      transform: rotate(45deg);
    }
  }

  blockquote {
    padding: 1.5rem 3rem 1.5rem 2rem;
    font-size: 1.5rem;
    background-color: rgb(var(--c-white), 3%);
    border-left: 0.25rem solid rgb(var(--c-accent));
  }

  &.detail {
    h1,
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }

  &.min {
    h1,
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
